.title {
  font-size: 6rem;
  color: #1db954;
  margin-bottom: 20px;
  text-align: center;
  height: 20vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: Cambria, Georgia, 'Times New Roman', Times, serif;
}
